@import '../../styles/variables';

.password-indicator {
  width: 100%;
  display: inline-grid;
  column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);

  .bar {
    height: 4px;
    border-radius: 0.25rem;
    background: $border-color;

    &:nth-child(1) {
      &.colored {
        background: #ce2021;
      }
    }

    &:nth-child(2) {
      &.colored {
        background: #f76521;
      }
    }

    &:nth-child(3) {
      &.colored {
        background: #ffba10;
      }
    }

    &:nth-child(4) {
      &.colored {
        background: #cedf29;
      }
    }

    &:nth-child(5) {
      &.colored {
        background: #42b64a;
      }
    }

    // &:nth-child(1) {
    //   background: #ce2021;
    // }

    // &:nth-child(2) {
    //   background: #f76521;
    // }

    // &:nth-child(3) {
    //   background: #ffba10;
    // }

    // &:nth-child(4) {
    //   background: #cedf29;
    // }

    // &:nth-child(5) {
    //   background: #42b64a;
    // }
  }
}
